//
//  KEYFRAME :: TEXT SCROLL
//
@keyframes textscroll {
    70% {
        padding-left: 0px;
    }
    100% {
        padding-left: 0px;
    }
}
@-webkit-keyframes textscroll {
    70% {
        padding-left: 0px;
    }
    100% {
        padding-left: 0px;
    }
}
