
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: rgb(170, 180, 200) !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

$color-red: #fd615a !default;
$color-orange: #f7be42 !default;
$color-green: #35c44a !default;
$color-pink: #CD6496 !default;
$color-blue: #149BE6 !default;

// Background
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$bg-primary: rgb(40, 45, 50) !default;
