
// Sass Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@font-face {
    font-family: 'Octmoon';
    src: url('../fonts/Octmoon.eot');
    src: url('../fonts/Octmoon.eot#iefix') format('embedded-opentype'),
         url('../fonts/Octmoon.ttf') format('truetype'),
         url('../fonts/Octmoon.woff') format('woff'),
         url('../fonts/Octmoon.svg#Octmoon') format('svg');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}
.icon, .icon-before:before, .icon-after:after {
    font-family: 'Octmoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mark-pytesnet:before {
    content: "\e900"; 
}
.icon-eye-closed:before {
    content: "\e901"; 
}
.icon-fold-down:before {
    content: "\e9b5"; 
}
.icon-fold-up:before {
    content: "\e9b6"; 
}
.icon-github-action:before {
    content: "\e9b7"; 
}
.icon-play:before {
    content: "\e9b8"; 
}
.icon-request-changes:before {
    content: "\e9b9"; 
}
.icon-x1:before {
    content: "\e9ba"; 
}
.icon-home:before {
    content: "\e902"; 
}
.icon-arrow-both:before {
    content: "\e903"; 
}
.icon-arrow-down:before {
    content: "\e904"; 
}
.icon-arrow-left:before {
    content: "\e905"; 
}
.icon-arrow-right:before {
    content: "\e906"; 
}
.icon-arrow-up:before {
    content: "\e907"; 
}
.icon-arrow-small-down:before {
    content: "\e908"; 
}
.icon-arrow-small-left:before {
    content: "\e909"; 
}
.icon-arrow-small-right:before {
    content: "\e90a"; 
}
.icon-arrow-small-up:before {
    content: "\e90b"; 
}
.icon-triangle-down:before {
    content: "\e90c"; 
}
.icon-triangle-left:before {
    content: "\e90d"; 
}
.icon-triangle-right:before {
    content: "\e90e"; 
}
.icon-triangle-up:before {
    content: "\e90f"; 
}
.icon-chevron-down:before {
    content: "\e910"; 
}
.icon-chevron-left:before {
    content: "\e911"; 
}
.icon-chevron-right:before {
    content: "\e912"; 
}
.icon-chevron-up:before {
    content: "\e913"; 
}
.icon-alert:before {
    content: "\e914"; 
}
.icon-archive:before {
    content: "\e915"; 
}
.icon-beaker:before {
    content: "\e916"; 
}
.icon-bell:before {
    content: "\e917"; 
}
.icon-bold:before {
    content: "\e918"; 
}
.icon-book:before {
    content: "\e919"; 
}
.icon-bookmark:before {
    content: "\e91a"; 
}
.icon-briefcase:before {
    content: "\e91b"; 
}
.icon-broadcast:before {
    content: "\e91c"; 
}
.icon-browser:before {
    content: "\e91d"; 
}
.icon-bug:before {
    content: "\e91e"; 
}
.icon-calendar:before {
    content: "\e91f"; 
}
.icon-check:before {
    content: "\e920"; 
}
.icon-checklist:before {
    content: "\e921"; 
}
.icon-circle-slash:before {
    content: "\e922"; 
}
.icon-circuit-board:before {
    content: "\e923"; 
}
.icon-clippy:before {
    content: "\e924"; 
}
.icon-clock:before {
    content: "\e925"; 
}
.icon-cloud-download:before {
    content: "\e926"; 
}
.icon-cloud-upload:before {
    content: "\e927"; 
}
.icon-code:before {
    content: "\e928"; 
}
.icon-comment:before {
    content: "\e929"; 
}
.icon-comment-discussion:before {
    content: "\e92a"; 
}
.icon-credit-card:before {
    content: "\e92b"; 
}
.icon-dash:before {
    content: "\e92c"; 
}
.icon-dashboard:before {
    content: "\e92d"; 
}
.icon-database:before {
    content: "\e92e"; 
}
.icon-desktop-download:before {
    content: "\e92f"; 
}
.icon-device-camera:before {
    content: "\e930"; 
}
.icon-device-camera-video:before {
    content: "\e931"; 
}
.icon-device-desktop:before {
    content: "\e932"; 
}
.icon-device-mobile:before {
    content: "\e933"; 
}
.icon-diff:before {
    content: "\e934"; 
}
.icon-diff-added:before {
    content: "\e935"; 
}
.icon-diff-ignored:before {
    content: "\e936"; 
}
.icon-diff-modified:before {
    content: "\e937"; 
}
.icon-diff-removed:before {
    content: "\e938"; 
}
.icon-diff-renamed:before {
    content: "\e939"; 
}
.icon-ellipsis:before {
    content: "\e93a"; 
}
.icon-eye:before {
    content: "\e93b"; 
}
.icon-file:before {
    content: "\e93c"; 
}
.icon-file-binary:before {
    content: "\e93d"; 
}
.icon-file-code:before {
    content: "\e93e"; 
}
.icon-file-directory:before {
    content: "\e93f"; 
}
.icon-file-media:before {
    content: "\e940"; 
}
.icon-file-pdf:before {
    content: "\e941"; 
}
.icon-file-submodule:before {
    content: "\e942"; 
}
.icon-file-symlink-directory:before {
    content: "\e943"; 
}
.icon-file-symlink-file:before {
    content: "\e944"; 
}
.icon-file-zip:before {
    content: "\e945"; 
}
.icon-flame:before {
    content: "\e946"; 
}
.icon-fold:before {
    content: "\e947"; 
}
.icon-gear:before {
    content: "\e948"; 
}
.icon-gift:before {
    content: "\e949"; 
}
.icon-gist:before {
    content: "\e94a"; 
}
.icon-gist-secret:before {
    content: "\e94b"; 
}
.icon-git-branch:before {
    content: "\e94c"; 
}
.icon-git-commit:before {
    content: "\e94d"; 
}
.icon-git-compare:before {
    content: "\e94e"; 
}
.icon-git-merge:before {
    content: "\e94f"; 
}
.icon-git-pull-request:before {
    content: "\e950"; 
}
.icon-globe:before {
    content: "\e951"; 
}
.icon-grabber:before {
    content: "\e952"; 
}
.icon-graph:before {
    content: "\e953"; 
}
.icon-heart:before {
    content: "\e954"; 
}
.icon-history:before {
    content: "\e955"; 
}
.icon-horizontal-rule:before {
    content: "\e956"; 
}
.icon-hubot:before {
    content: "\e957"; 
}
.icon-inbox:before {
    content: "\e958"; 
}
.icon-info:before {
    content: "\e959"; 
}
.icon-issue-closed:before {
    content: "\e95a"; 
}
.icon-issue-opened:before {
    content: "\e95b"; 
}
.icon-issue-reopened:before {
    content: "\e95c"; 
}
.icon-italic:before {
    content: "\e95d"; 
}
.icon-jersey:before {
    content: "\e95e"; 
}
.icon-kebab-horizontal:before {
    content: "\e95f"; 
}
.icon-kebab-vertical:before {
    content: "\e960"; 
}
.icon-key:before {
    content: "\e961"; 
}
.icon-keyboard:before {
    content: "\e962"; 
}
.icon-law:before {
    content: "\e963"; 
}
.icon-light-bulb:before {
    content: "\e964"; 
}
.icon-link:before {
    content: "\e965"; 
}
.icon-link-external:before {
    content: "\e966"; 
}
.icon-list-ordered:before {
    content: "\e967"; 
}
.icon-list-unordered:before {
    content: "\e968"; 
}
.icon-location:before {
    content: "\e969"; 
}
.icon-lock:before {
    content: "\e96a"; 
}
.icon-mail:before {
    content: "\e96b"; 
}
.icon-mail-read:before {
    content: "\e96c"; 
}
.icon-markdown:before {
    content: "\e96d"; 
}
.icon-megaphone:before {
    content: "\e96e"; 
}
.icon-mention:before {
    content: "\e96f"; 
}
.icon-milestone:before {
    content: "\e970"; 
}
.icon-mirror:before {
    content: "\e971"; 
}
.icon-mortar-board:before {
    content: "\e972"; 
}
.icon-mute:before {
    content: "\e973"; 
}
.icon-no-newline:before {
    content: "\e974"; 
}
.icon-note:before {
    content: "\e975"; 
}
.icon-organization:before {
    content: "\e976"; 
}
.icon-package:before {
    content: "\e977"; 
}
.icon-paintcan:before {
    content: "\e978"; 
}
.icon-pencil:before {
    content: "\e979"; 
}
.icon-person:before {
    content: "\e97a"; 
}
.icon-pin:before {
    content: "\e97b"; 
}
.icon-plug:before {
    content: "\e97c"; 
}
.icon-plus:before {
    content: "\e97d"; 
}
.icon-plus-small:before {
    content: "\e97e"; 
}
.icon-primitive-dot:before {
    content: "\e97f"; 
}
.icon-primitive-square:before {
    content: "\e980"; 
}
.icon-project:before {
    content: "\e981"; 
}
.icon-pulse:before {
    content: "\e982"; 
}
.icon-question:before {
    content: "\e983"; 
}
.icon-quote:before {
    content: "\e984"; 
}
.icon-radio-tower:before {
    content: "\e985"; 
}
.icon-reply:before {
    content: "\e986"; 
}
.icon-repo:before {
    content: "\e987"; 
}
.icon-repo-clone:before {
    content: "\e988"; 
}
.icon-repo-force-push:before {
    content: "\e989"; 
}
.icon-repo-forked:before {
    content: "\e98a"; 
}
.icon-repo-pull:before {
    content: "\e98b"; 
}
.icon-repo-push:before {
    content: "\e98c"; 
}
.icon-report:before {
    content: "\e98d"; 
}
.icon-rocket:before {
    content: "\e98e"; 
}
.icon-rss:before {
    content: "\e98f"; 
}
.icon-ruby:before {
    content: "\e990"; 
}
.icon-screen-full:before {
    content: "\e991"; 
}
.icon-screen-normal:before {
    content: "\e992"; 
}
.icon-search:before {
    content: "\e993"; 
}
.icon-server:before {
    content: "\e994"; 
}
.icon-settings:before {
    content: "\e995"; 
}
.icon-shield:before {
    content: "\e996"; 
}
.icon-sign-in:before {
    content: "\e997"; 
}
.icon-sign-out:before {
    content: "\e998"; 
}
.icon-smiley:before {
    content: "\e999"; 
}
.icon-star:before {
    content: "\e99a"; 
}
.icon-stop:before {
    content: "\e99b"; 
}
.icon-sync:before {
    content: "\e99c"; 
}
.icon-tag:before {
    content: "\e99d"; 
}
.icon-tasklist:before {
    content: "\e99e"; 
}
.icon-telescope:before {
    content: "\e99f"; 
}
.icon-terminal:before {
    content: "\e9a0"; 
}
.icon-text-size:before {
    content: "\e9a1"; 
}
.icon-three-bars:before {
    content: "\e9a2"; 
}
.icon-thumbsdown:before {
    content: "\e9a3"; 
}
.icon-thumbsup:before {
    content: "\e9a4"; 
}
.icon-tools:before {
    content: "\e9a5"; 
}
.icon-trashcan:before {
    content: "\e9a6"; 
}
.icon-unfold:before {
    content: "\e9a7"; 
}
.icon-unmute:before {
    content: "\e9a8"; 
}
.icon-unverified:before {
    content: "\e9a9"; 
}
.icon-verified:before {
    content: "\e9aa"; 
}
.icon-versions:before {
    content: "\e9ab"; 
}
.icon-watch:before {
    content: "\e9ac"; 
}
.icon-x:before {
    content: "\e9ad"; 
}
.icon-times:before {
    content: "\e9ad"; 
}
.icon-zap:before {
    content: "\e9ae"; 
}
.icon-squirrel:before {
    content: "\e9af"; 
}
.icon-octoface:before {
    content: "\e9b0"; 
}
.icon-mark-github:before {
    content: "\e9b1"; 
}
.icon-logo-gist:before {
    content: "\e9b2"; 
}
.icon-logo-github:before {
    content: "\e9b3"; 
}
.icon-pacman:before {
    content: "\e9b4"; 
}
.icon-new-tab:before {
    content: "\ea7e"; 
}
.icon-terminal-alt:before {
    content: "\ea81"; 
}
.icon-mark-telegram:before {
    content: "\ea95"; 
}
.icon-mark-twitter:before {
    content: "\ea96"; 
}
.icon-mark-youtube:before {
    content: "\ea9d"; 
}
.icon-logo-youtube:before {
    content: "\ea9e"; 
}
.icon-mark-steam:before {
    content: "\eaac"; 
}
.icon-mark-steam-alt:before {
    content: "\eaad"; 
}
.icon-mark-npm:before {
    content: "\eab1"; 
}
.icon-mark-wordpress:before {
    content: "\eab4"; 
}
.icon-mark-joomla:before {
    content: "\eab5"; 
}
.icon-mark-linux:before {
    content: "\eabd"; 
}
.icon-mark-apple:before {
    content: "\eabe"; 
}
.icon-mark-android:before {
    content: "\eac0"; 
}
.icon-mark-windows:before {
    content: "\eac1"; 
}
.icon-mark-windows-alt:before {
    content: "\eac2"; 
}
.icon-mark-wikipedia:before {
    content: "\eac8"; 
}
.icon-mark-linkedin:before {
    content: "\eaca"; 
}
.icon-mark-linkedin-alt:before {
    content: "\eac9"; 
}
.icon-mark-stackoverflow:before {
    content: "\ead0"; 
}
.icon-mark-pinterest:before {
    content: "\ead2"; 
}
.icon-mark-pinterest-alt:before {
    content: "\ead1"; 
}
.icon-mark-xing:before {
    content: "\ead4"; 
}
.icon-mark-xing-alt:before {
    content: "\ead3"; 
}
.icon-mark-paypal:before {
    content: "\ead8"; 
}
.icon-icon-chrome:before {
    content: "\ead9"; 
}
.icon-icon-firefox:before {
    content: "\eada"; 
}
.icon-icon-ie:before {
    content: "\eadb"; 
}
.icon-icon-edge:before {
    content: "\eadc"; 
}
.icon-icon-safari:before {
    content: "\eadd"; 
}
.icon-icon-opera:before {
    content: "\eade"; 
}
.icon-icon-html5:before {
    content: "\eae5"; 
}
.icon-icon-html5-alt:before {
    content: "\eae4"; 
}
.icon-icon-css3:before {
    content: "\eae6"; 
}
.icon-mark-git:before {
    content: "\eae7"; 
}
.icon-mark-codepen:before {
    content: "\eae8"; 
}
