//
//  THEME CONFIGURATION
//


//
//  FONT SETTINGs
//
$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:         14px;
$font-height:       20px;


//
//  GENERAL SETTINGs
//
$border-radius:     3px;


//
//  COLOR SETTINGs
//
